<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">
                <h1><span class="badge bg-secondary">GUIA RÁPIDA</span></h1>
            </div> 
            <div class="card">
                <div class="card-header">
                    Algunas cosas que hace la web APP y las cosas que no le pude agregar
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>[+] Puede válidar RUC o CI, que sean solo números o que no esté vacio</p>
                        <p>[+] Puede válidar que la razón social no este vacia</p>
                        <p>[+] Puede eliminar registros</p>
                        <p>[+] Puede editar registros</p>
                        <p>[+] Tiene un control de páginas</p>
                        <p>[+] Tiene una opcion de filtrado (ineficiente porque trae todos los datos primero al fronted)</p>
                        <p>[-] No tiene login</p>
                    </blockquote>
                </div>
            </div>
        </div>
            
    </div>
</template>