<template>
    <div class="container">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="col text-center">
                        <h1><span class="badge bg-secondary">Agregar una empresa nueva</span></h1>
                    </div>
                
                    <!-- volver atras -->
                    <div class="col-lg-12 mb-4">
                        <router-link :to='{name:"mostrarEmpresas"}' class="btn btn-success">Volver</router-link>
                    </div>

                    <div class="card-body">
                        <form @submit.prevent="crear">
                            <div class="row">
                                <div class="column-12 mb-2">
                                    <div class="form-group">
                                        <label>RUC o CI</label>
                                        <input type="text" class="form-control" v-model="empresa.ruc">
                                        <p v-if="f_ruc" class="text-danger">*Escriba su RUC o CI por favor</p>
                                    </div>
                                </div>
                                <div class="column-12 mb-2">
                                    <div class="form-group">
                                        <label>Razón Social</label>
                                        <input type="text" class="form-control" v-model="empresa.nombre">
                                        <p v-if="f_nombre" class="text-danger">*Escriba su razón social</p>
                                    </div>
                                </div>
                                <div class="column-12 mb-2">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input type="text" class="form-control" v-model="empresa.ciudad">
                                        <p v-if="f_ciudad" class="text-danger">*Escriba ciudad por favor!</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"crear-empresa",
    data(){
        return{
            empresa:{
                ruc:"",
                nombre:"",
                ciudad: ""
            },
            f_ruc: false,
            f_nombre: false,
            f_ciudad: false
        }
    },
    methods:{
        async crear(){
            this.f_ruc = false;
            this.f_nombre = false;
            this.f_ciudad = false;

            let falta = false;

            if(this.empresa.ruc.match(/^[A-Za-z]+$/)){
                this.f_ruc = true;
                falta = true;
            }
            if(this.empresa.ruc == ""){
                this.f_ruc = true;
                falta = true;
            }
            if(this.empresa.nombre == ""){
                this.f_nombre = true;
                falta = true;
            }
            if(this.empresa.ciudad == ""){
                this.f_ciudad = true;
                falta = true
            }
            
            console.log()
            if(falta == false){
                await this.axios.post('/api/empresa', this.empresa).then(response=>{
                    this.$router.push({name:"mostrarEmpresas"});
                })
                .catch(error=>{
                    console.log(error);
                });
            }else{
                console.log('faltan datos')
            }
        }
    }
}
</script>