<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">Editar Empresa</div>
                </div>
                <div class="card-body">
                    <form @submit.prevent="actualizar">
                        <div class="row">
                            <div class="column-12 mb-2">
                                <div class="form-group">
                                    <label>RUC o CI</label>
                                    <input type="text" class="form-control" v-model="empresa.ruc" readonly="readonly">
                                </div>
                            </div>
                            <div class="column-12 mb-2">
                                <div class="form-group">
                                    <label>Razón Social</label>
                                    <input type="text" class="form-control" v-model="empresa.nombre">
                                    <p v-if="f_nombre" class="text-danger">*Escriba su razón social</p>
                                </div>
                            </div>
                            <div class="column-12 mb-2">
                                <div class="form-group">
                                    <label>Razón Social</label>
                                    <input type="text" class="form-control" v-model="empresa.ciudad">
                                    <p v-if="f_ciudad" class="text-danger">*Escriba ciudad por favor!</p>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</template>

<script>
export default {
    name:"editarEmpresa",
    data(){
        return {
            empresa:{
                ruc:"",
                nombre:"",
                ciudad:""
            },
            f_nombre: false,
            f_ciudad: false
        }
    },
    mounted(){
        this.mostrarEmpresa();
    },
    methods:{ 
        async mostrarEmpresa(){
            let id = this.$route.params.id;
            await this.axios.get(`/api/empresa/` + id).then(response=>{
                const {ruc, nombre, ciudad} = response.data 
                this.empresa.ruc = ruc
                this.empresa.nombre = nombre
                this.empresa.ciudad = ciudad
                console.log(ruc)
            }).catch(error=>{
                console.log(error)
            })
        },
        async actualizar(){
            let falta = false
            this.f_nombre = false
            this.f_ciudad = false

            if(this.empresa.nombre == ""){
                this.f_nombre = true;
                falta = true;
            }
            if(this.empresa.ciudad == ""){
                this.f_ciudad = true;
                falta = true
            }

            if(falta == false){
                let id = this.$route.params.id;
                await this.axios.put(`/api/empresa/` + id, this.empresa).then(response=>{
                    this.$router.push({
                        name:"mostrarEmpresas"
                    }).catch(error=>{
                        console.log(error)
                    })
                })
            }
        }
    }
}
</script>