<template>
    <div class="container">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="col text-center">
                        <h1><span class="badge bg-secondary">Filtrar</span></h1>
                    </div>
                
                    <!-- volver atras -->
                    <div class="col-lg-12 mb-4">
                        <router-link :to='{name:"mostrarEmpresas"}' class="btn btn-success">Volver</router-link>
                    </div>

                    <div class="card-body">
                        <form @submit.prevent="mostrarFiltrado">
                            <div class="row">
                                <div class="column-12 mb-2">
                                    <div class="form-group">
                                        <label>RUC o CI</label>
                                        <input type="text" class="form-control" v-model="empresa.ruc">
                                    </div>
                                </div>
                                <div class="column-12 mb-2">
                                    <div class="form-group">
                                        <label>Razón Social</label>
                                        <input type="text" class="form-control" v-model="empresa.nombre">
                                    </div>
                                </div>
                                <div class="column-12 mb-2">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input type="text" class="form-control" v-model="empresa.ciudad">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>
                                        <div class="m-0 row justify-content-center">RUC o CI</div>
                                    </th>
                                    <th>Razón Social</th>
                                    <th>Ciudad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="empresa in datosPaginados" :key="empresa.id">
                                    <td>{{empresa.ruc}}</td>
                                    <td>{{empresa.nombre}}</td>
                                    <td>{{empresa.ciudad}}</td>
                                    <td>
                                        <router-link :to='{name:"editarEmpresa", params:{id:empresa.id}}' class="btn btn-info">Editar</router-link>
                                        <a type="button" @click="borrarEmpresa(empresa.id)" class="btn btn-danger">Borrar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item" @click="getPrevious()"><a class="page-link" href="#">Previous</a></li>
                                <li v-for="pagina in totalPaginas()" :key="pagina" @click="getDataPagina(pagina)" v-bind:class="isActive(pagina)" class="page-item"><a class="page-link" href="#">{{pagina}}</a></li>
                                <li class="page-item" @click="getNext()"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                </div>    
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"filtrar",
    data(){
        return{
            empresa:{
                ruc:"",
                nombre:"",
                ciudad: ""
            },
            empresas:[],
            filtrado:[],
            filtros:{
                ruc: 0,
                nombre: 0,
                ciudad: 0
            },
            datosPaginados:[],
            paginaActual: 1
        }
    },
    mounted(){
        this.getEmpresas();
    },
    methods:{
        async getEmpresas(){
            await this.axios.get('/api/empresa').then(response=>{
                this.empresas = response.data;
            }).catch(error=>{
                console.log(error);
                this.empresas = [];
            });
        },
        mostrarFiltrado(){
            this.filtrado= []
            

            for(let i=0; i<this.empresas.length; i++){
                this.filtros.ruc = 0
                this.filtros.nombre = 0
                this.filtros.ciudad = 0

                if(this.empresas[i].ruc.indexOf(this.empresa.ruc) >= 0){
                    this.filtros.ruc = 1
                }
                
                if(this.empresas[i].nombre.indexOf(this.empresa.nombre) >= 0){
                    this.filtros.nombre = 1
                }

                if(this.empresas[i].ciudad.indexOf(this.empresa.ciudad) >= 0){
                    this.filtros.ciudad = 1
                }

                if(this.filtros.ruc*this.filtros.nombre*this.filtros.ciudad === 1){
                    this.filtrado.push(this.empresas[i])
                }

            }
            this.getDataPagina(1);
        },
        totalPaginas(){
            return Math.ceil(this.filtrado.length / 5); //quiero 5 elementos por pagina
        },
        getDataPagina(idPagina){
            this.paginaActual = idPagina;
            this.datosPaginados = []
            let ini = (idPagina*5) - 5;
            let fin = (idPagina*5);

            this.datosPaginados = this.filtrado.slice(ini, fin);
        },
        getPrevious(){
            if(this.paginaActual > 1){
                this.paginaActual--;
            }
            this.getDataPagina(this.paginaActual);
        },
        getNext(){
            if(this.paginaActual < this.totalPaginas()){
                this.paginaActual++;
            }
            this.getDataPagina(this.paginaActual)
        },
        isActive(idPagina){
            return idPagina == this.paginaActual ? 'active':'';
        }
    }
}
</script>