<template>
    <div class="container">
        <div class="container mt-4">
            <div class="row">
                <div class="col text-center">
                    <h1><span class="badge bg-secondary">EMPRESAS</span></h1>
                </div>

                <div class="col-lg-12 mb-4">
                    <router-link :to='{name:"crearEmpresa"}' class="btn btn-success">Nuevo</router-link>
                    <router-link :to='{name:"filtrar"}' class="btn btn-success">Filtrar</router-link>
                </div>
                

                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>
                                        <div class="m-0 row justify-content-center">RUC o CI</div>
                                    </th>
                                    <th>Razón Social</th>
                                    <th>Ciudad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="empresa in datosPaginados" :key="empresa.id">
                                    <td>{{empresa.ruc}}</td>
                                    <td>{{empresa.nombre}}</td>
                                    <td>{{empresa.ciudad}}</td>
                                    <td>
                                        <router-link :to='{name:"editarEmpresa", params:{id:empresa.id}}' class="btn btn-info">Editar</router-link>
                                        <a type="button" @click="borrarEmpresa(empresa.id)" class="btn btn-danger">Borrar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item" @click="getPrevious()"><a class="page-link" href="#">Previous</a></li>
                                <li v-for="pagina in totalPaginas()" :key="pagina" @click="getDataPagina(pagina)" v-bind:class="isActive(pagina)" class="page-item"><a class="page-link" href="#">{{pagina}}</a></li>
                                <li class="page-item" @click="getNext()"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    name:"empresas",
    data(){
        return{
            empresas:[],
            datosPaginados:[],
            paginaActual: 1
        }
    },
    mounted(){
        this.mostrarEmpresas();
    },
    methods:{
        async mostrarEmpresas(){
            await this.axios.get('/api/empresa').then(response=>{
                this.empresas = response.data;
            }).catch(error=>{
                console.log(error);
                this.empresas = [];
            });
            this.getDataPagina(1);
        },
        borrarEmpresa(id){
            if (confirm("¿Desea eliminar el registro de la empresa")){
                this.axios.delete(`api/empresa/` + id).then(response=>{
                    this.mostrarEmpresas();
                }).catch(error=>{
                    console.log(error)
                });
            }
        },
        totalPaginas(){
            return Math.ceil(this.empresas.length / 5); //quiero 5 elementos por pagina
        },
        getDataPagina(idPagina){
            this.paginaActual = idPagina;
            this.datosPaginados = []
            let ini = (idPagina*5) - 5;
            let fin = (idPagina*5);

            this.datosPaginados = this.empresas.slice(ini, fin);
        },
        getPrevious(){
            if(this.paginaActual > 1){
                this.paginaActual--;
            }
            this.getDataPagina(this.paginaActual);
        },
        getNext(){
            if(this.paginaActual < this.totalPaginas()){
                this.paginaActual++;
            }
            this.getDataPagina(this.paginaActual)
        },
        isActive(idPagina){
            return idPagina == this.paginaActual ? 'active':'';
        }
    },
}
</script>
